<main class='max-w-3xl mx-auto'>
	<p>
		Listo para celebrar las Navidades juntos de nuevo? Descubre la nueva edición
		de Big Ibai y mucho mas proximamente.
	</p>
	<h2>Quieres que te avisemos?</h2>
	<form>
		<input type='email' required placeholder='hola@hola.com' />
		<button type='submit'>Enviar</button>
	</form>
</main>
